/* Settings */
:root{
    --main-background-color: e5e5e5;
    --secondary-background-color:#ffffff;
    --third-background-color:#2f303a;
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --white-color:#ffffff;
    --color-of-active:#2196f3;
    --logo-color:#000000;
    --color-btn:#f5f4fa;
    --main-btn-active:#188ce8;
    --border-color-header:#ececec;
    --color-of-icon:#afb1b8;
}
body{
    color:var(--main-text-color);
    background-color: var(--main-background-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}
h1,h2,h3,ul,p{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
/*Header*/ 
.page-header{
    border-bottom: 1px solid var(--border-color-header);
}
.page-header__nav{ 
    display: flex;
    align-items: center;
}
.logo{
    color:var(--logo-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus{
    color: var(--color-of-active);
}
.page-header__logo{
    margin-right: 90px;
}
.page-header__logo-web{
    color: var(--color-of-active);
}
/* Site-nav */
.site-nav__link{
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--main-color);
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.site-nav__link--current{
    color: var(--color-of-active);
    position: relative;
}
.site-nav__link--current::after{
    display: inline-block;
    position: absolute;
    left:0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-of-active);
    
    
}
 .site-nav__link:hover,
 .site-nav__link:focus {
    color: var(--color-of-active); 
 }
 .site-nav__item{
   display: inline-block;
   align-items: center;
}
.site-nav__item:not(:nth-of-type(1)){
margin-left:50px;
}
/* Auth-nav */

.auth-nav__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    fill: var(--secondary-text-color);
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
.auth-nav__link:hover,
.auth-nav__link:focus{
    fill: var(--color-of-active);
    color: var(--color-of-active);
}
.auth-nav__item{
    display: inline-flex;
    align-items:center;
}
.auth-nav__item:not(:nth-of-type(1)){
    margin-left:50px;
}
.page-header__auth-nav{
    margin-left: auto;
}
.auth-nav__icon{
    margin-right: 10px;
}

/*Hero section*/
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(./images/Студия/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-color: var(--third-background-color);
    max-width: 1600px;
    margin: 0 auto;
}
.hero-section__title{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    text-transform: uppercase;
    color:var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    min-width: 200px;

    color: var(--white-color);
    background-color: var(--color-of-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus{
    cursor: pointer;
    background-color: var(--main-btn-active);
}

/* Hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Features */
.title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.features-list{
    display:inline-flex; 
}
.features-list__item{
    width: 270px;
}
.features-list__item:not(:nth-of-type(1)){
    margin-left: 30px;
}
.features-list__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color:var(--color-btn);
    margin-bottom: 30px;
}
.features-list__title{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}
.features-list__descr{
    color: var(--secondary-text-color);
    line-height: 1.7;
}

    /* Works list */
.product-section{
    padding-top: 0;
    }
.product-section__title{
    margin-bottom: 50px;
}
.product-list{
    display: flex;
}
.product-list__item{
    position: relative;
}
.product-list__item:not(:nth-of-type(1)){
    margin-left: 30px;
}
.product-list__overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.product-list__text-overlay{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

/* Team */
.team-section{
    background-color: var(--color-btn);
}
.team-section__title{
    margin-bottom: 50px;
}
.team{
    display: flex;
}
.employee-card{
    background-color: var(--secondary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.employee-card:not(:nth-of-type(1)){
    margin-left: 30px;
}
.employee-card__name{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}
.employee-card__job-title{
    margin-bottom: 16px;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19; 
}
.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
}
.social-list__item{
    width: 44px;
    height: 44px;
}
.social-list__link{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    align-items: center;
    fill: var(--color-of-icon);
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.social-list__item:not(:nth-of-type(1)){
    margin-left: 10px;
}
.social-list__link:hover ,
.social-list__link:focus {  
    fill: var(--white-color);
    background-color: var(--color-of-active);
    border-radius: 50%; 
}

/* Clients */
.clients{
    display: flex;
    padding-top: 50px;
}
.clients__item:not(:nth-of-type(1)){
    margin-left: 30px;
}
.clients__link{
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-of-icon);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill:var(--color-of-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus{
    fill:var(--color-of-active);
    border-color: var(--color-of-active);
}

/*Fotter*/
.page-footer{
    background-color: var(--third-background-color);
    padding: 60px 0;
}
.page-fotter__info{
    display: flex;
    align-items: baseline;
}
.page-fotter__logo{
    color:var(--white-color);
}
.page-fotter__logo-web{
    color: var(--color-of-active);
}

.page-footer__contacts{
    margin-top: 20px;
}
.contacts__link{
    color: var(--white-color);
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }
 .contacts__link--grey-color{
    color: rgba(255, 255, 255, 0.6);
 }
 .contacts__item:not(:nth-of-type(1)){
    margin-top: 9px;
 }
 .contacts__link:hover,
 .contacts__link:focus{
    color: var(--color-of-active);
 }
 .page-footer__social-link{
    margin-left: 70px;
}
 .social-link__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--white-color);
}
.social-list__link--white{
    fill: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}
.page-footer__social-list{ 
    margin-top: 20px; 
}
.page-footer__signup-field{
    margin-left: auto;
}
.signup-field__title{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}
.signup-field__input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background-color:var(--third-background-color);
    padding-left: 16px;
    color: var(--white-color);
    font-size: inherit;
    margin-right: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.signup-field__input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
.signup-field__form{
    display: flex;
    margin-top: 20px;
}
.signup-field__input:hover,
.signup-field__input:focus{
    cursor: pointer;
    border-color: var(--color-of-active);
}
.btn__icon{
    margin-left: 10px;
}

/*Portfolio*/
/* Filters btn */
.filters{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters__item:not(:nth-of-type(1)){
    margin-left: 8px;
}
.filters__btn{
    padding: 6px 22px;
    background-color: var(--color-btn);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover,
.filters__btn:focus{
    color:var(--white-color);
    background-color:var(--color-of-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
/* Card set */
.cards-set{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.cards-set__card{
    flex-basis: calc((100% - 60px) / 3);
    background-color: var(--secondary-background-color);
}
.card__link{
    display: block;
    color: var(--main-text-color);
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover,
.card__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__title{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE; 
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.card__name{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card__descr{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.9; 
}
.card__thumb{
    position:relative;
    overflow: hidden;
}
.card__text{
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(102%);
    background-color:rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white-color);
    font-size: 18px;
    line-height: 1.6;
    padding: 63px 24px;      
}
.card__link:hover .card__text{
    transform: translateY(0);
}
/* Modal */
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity:0;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) scale(0.9);
}
.modal{
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color:var(--white-color);
    transform: translate(-50%,-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn{
    display: flex;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    width:30px;
    height: 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
    fill: #000000;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__btn-icon:hover,
.modal__btn-icon:focus{
    cursor: pointer;
    fill: var(--color-of-active);
}
/* Form modal */
.modal__title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}
form{
    width: 448px;
}
.form__label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form__label-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--secondary-text-color);
  }
  .form__icon{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 12px;
    margin-bottom: 11px;
    fill:#000000;
 }
.form__input {
    padding: 0 0 0 42px;
    font-family: inherit;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }
  .form__input:hover{
    cursor: pointer;
  }

.form__label:focus-within .form__icon{
fill: var(--color-of-active);
}
.form__label:focus-within .form__input{
    border-color: var(--color-of-active);
    }

.form__textarea{
    outline: none;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* textarea:hover, */
.form__textarea:focus{
    border-color:var(--color-of-active) ;
}
.form__textarea:hover,
.form__textarea:focus{
    cursor: pointer;
}

.form__textarea::placeholder{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }

.form__label-checkbox{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__checkbox-text{
    margin-left: 8px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}
.form__checkbox-true{
    display: inline-block;
    width: 15px;
    height: 15px;
    border:2px solid #212121;
    border-radius: 2px;
}
.form__input-checkbox{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-checkbox:checked  + .form__checkbox-true{
    /* background-origin: border-box; */
    background-image: url(./images/icon\ check.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    background-color: var(--color-of-active);
}
.form__input-checkbox:focus-visible + .form__checkbox-true{
    border-color: var(--color-of-active);
}
.form__checkbox-text--blue{
    text-decoration-line: underline;
    color: var(--color-of-active);
    cursor: pointer;
}

.form__btn{
    display: flex;
    justify-content: center;
}